In [1]:
import duckdb

In [4]:
french = duckdb.sql(f"""
                    SELECT x, y, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND y BETWEEN 0 AND 1968
                    GROUP BY x, y
                    ORDER BY x, y
                    """)

print(french)

┌────────┬───────┬───────┐
│   x    │   y   │ count │
│ int64  │ int64 │ int64 │
├────────┼───────┼───────┤
│      0 │     0 │ 98807 │
│      0 │     1 │  9592 │
│      0 │     2 │  3888 │
│      0 │     3 │  2080 │
│      0 │     4 │  1420 │
│      0 │     5 │   897 │
│      0 │     6 │   728 │
│      0 │     7 │   609 │
│      0 │     8 │   408 │
│      0 │     9 │   442 │
│      · │     · │     · │
│      · │     · │     · │
│      · │     · │     · │
│      5 │   145 │    19 │
│      5 │   146 │    44 │
│      5 │   147 │    47 │
│      5 │   148 │    45 │
│      5 │   149 │    46 │
│      5 │   150 │    20 │
│      5 │   151 │    42 │
│      5 │   152 │    15 │
│      5 │   153 │    19 │
│      5 │   154 │    13 │
├────────┴───────┴───────┤
│ ? rows       3 columns │
└────────────────────────┘

In [8]:
colors = duckdb.sql(f"""
                    SELECT pixel_color, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND y BETWEEN 0 AND 1968
                    GROUP BY pixel_color
                    ORDER BY count DESC
                    """)

print(colors)

┌─────────────┬──────────┐
│ pixel_color │  count   │
│   varchar   │  int64   │
├─────────────┼──────────┤
│ #FFFFFF     │ 10119804 │
│ #000000     │  7654879 │
│ #2450A4     │  3347727 │
│ #FF4500     │  2805634 │
│ #BE0039     │  2292902 │
│ #811E9F     │  2161269 │
│ #FFD635     │  1969457 │
│ #FFA800     │  1547813 │
│ #3690EA     │  1275065 │
│ #51E9F4     │  1049594 │
│    ·        │      ·   │
│    ·        │      ·   │
│    ·        │      ·   │
│ #515252     │   228023 │
│ #FF3881     │   206673 │
│ #94B3FF     │   159654 │
│ #E4ABFF     │   137688 │
│ #DE107F     │   135503 │
│ #6A5CFF     │   109429 │
│ #6D001A     │   107323 │
│ #00756F     │    72746 │
│ #00CCC0     │    49562 │
│ #009EAA     │    37787 │
├─────────────┴──────────┤
│   32 rows (20 shown)   │
└────────────────────────┘

In [11]:
times = duckdb.sql(f"""
                    SELECT DATE_TRUNC('hour', timestamp) AS hour, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND y BETWEEN 0 AND 1968
                    GROUP BY hour
                    ORDER BY hour
                    """).df()

# print(times)
times.to_csv('times.csv', index=False)