In [8]:
import duckdb

In [9]:
flag_times = duckdb.sql(f"""
                    SELECT DATE_TRUNC('hour', timestamp) AS hour, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND y BETWEEN 1346 AND 1968
                    GROUP BY hour
                    ORDER BY hour
                    """).df()

print(flag_times)
# flag_times.to_csv('times.csv', index=False)

                  hour    count
0  2022-04-03 19:00:00   410990
1  2022-04-03 20:00:00   427105
2  2022-04-03 21:00:00  1696128
3  2022-04-03 22:00:00  1011734
4  2022-04-03 23:00:00  1224907
5  2022-04-04 00:00:00   372502
6  2022-04-04 01:00:00   280104
7  2022-04-04 02:00:00   212809
8  2022-04-04 03:00:00   233912
9  2022-04-04 04:00:00   240421
10 2022-04-04 05:00:00   220941
11 2022-04-04 06:00:00   242580
12 2022-04-04 07:00:00   294672
13 2022-04-04 08:00:00   343667
14 2022-04-04 09:00:00   392835
15 2022-04-04 10:00:00   341759
16 2022-04-04 11:00:00   410807
17 2022-04-04 12:00:00   483185
18 2022-04-04 13:00:00   535156
19 2022-04-04 14:00:00   495017
20 2022-04-04 15:00:00  1206063
21 2022-04-04 16:00:00  1425676
22 2022-04-04 17:00:00   552096
23 2022-04-04 18:00:00   472274
24 2022-04-04 19:00:00  1241451
25 2022-04-04 20:00:00  1188190
26 2022-04-04 21:00:00  3021791
27 2022-04-04 22:00:00  2640809
28 2022-04-04 23:00:00    31222
29 2022-04-05 00:00:00     3274

In [10]:
colors = duckdb.sql(f"""
                    SELECT pixel_color, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND y BETWEEN 1346 AND 1968
                    GROUP BY pixel_color
                    ORDER BY count DESC
                    LIMIT 5
                    """)

print(colors)

┌─────────────┬─────────┐
│ pixel_color │  count  │
│   varchar   │  int64  │
├─────────────┼─────────┤
│ #FFFFFF     │ 6185040 │
│ #000000     │ 2842978 │
│ #2450A4     │ 2010094 │
│ #BE0039     │ 1963777 │
│ #811E9F     │ 1691777 │
└─────────────┴─────────┘

In [11]:
purple = duckdb.sql(f"""
                    SELECT DATE_TRUNC('hour', timestamp) AS hour, COUNT(*) as count
                    FROM "2022pyarrow.parquet"
                    WHERE x BETWEEN 0 AND 250 AND 
                        y BETWEEN 1346 AND 1968 AND 
                        pixel_color = '#811E9F'
                    GROUP BY hour
                    ORDER BY hour
                    """).df()

print(purple)
# purple.to_csv('purple.csv', index=False)

                  hour   count
0  2022-04-03 19:00:00    1324
1  2022-04-03 20:00:00    1806
2  2022-04-03 21:00:00    3266
3  2022-04-03 22:00:00    2446
4  2022-04-03 23:00:00   27459
5  2022-04-04 00:00:00    1207
6  2022-04-04 01:00:00    1273
7  2022-04-04 02:00:00    1866
8  2022-04-04 03:00:00    1737
9  2022-04-04 04:00:00    1135
10 2022-04-04 05:00:00    1154
11 2022-04-04 06:00:00    1125
12 2022-04-04 07:00:00    7978
13 2022-04-04 08:00:00    5937
14 2022-04-04 09:00:00    4180
15 2022-04-04 10:00:00    5844
16 2022-04-04 11:00:00    4476
17 2022-04-04 12:00:00    4293
18 2022-04-04 13:00:00    4335
19 2022-04-04 14:00:00    9760
20 2022-04-04 15:00:00    6999
21 2022-04-04 16:00:00   11693
22 2022-04-04 17:00:00    7129
23 2022-04-04 18:00:00    6049
24 2022-04-04 19:00:00    5473
25 2022-04-04 20:00:00  255581
26 2022-04-04 21:00:00  758265
27 2022-04-04 22:00:00  547987